<br />
<div class="container border border-info" width="200px">
    <div [hidden]="submitted" style="width: 600px;" class="align_center">
        <h3>Update User</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Question</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="question.question"
                    name="question">
            </div><br />

            <div>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
        <br>
        <br>
        <button (click)="questionsList()" class="btn btn-primary float-right">Back to Questions List</button><br>
    </div>
</div>